@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body {
  height: 100%;
	background-color: #FFFFFF;
}
body {
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", Dotum, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
.container{
	background-color: #F2F2F2;
}
#tistorytoolbarid {display: none;}
/*
 *  Blog form
 *  --------------------------
 */
/*  Reply list
   */

.rpList-info {
  padding-top: 10px;
}
.rpList-desc {
  border-bottom: 1px solid #eee;
}
.rpList-desc:last-child {
  margin-bottom: 10px
}
/*  Reply form
   */

.rpForm-loggedIn {
  display: none;
  padding-right: 2.5px;
  padding-left: 0;
}
.logged-in .rpForm-loggedIn{
  display: block;
}
.rpForm-loggedIn div {
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.rpForm-name, .rpForm-link {
  padding-right: 2.5px;
}
.rpForm-password, .rpForm-secret {
  padding-left: 2.5px;
}
.rpForm-secret input {
  display: none;
}
.rpForm-body {
  padding-top: 5px;
}
.rpForm-body textarea {
  resize: none;
}
.rpForm-submit {
  padding-top: 5px;
}
/*  over md  */

@media screen and ( min-width: 992px) {
  .rpForm-password {
    padding-right: 2.5px;
  }
  .rpForm-link {
    padding-left: 2.5px;
  }
}
/*  under md  */

@media screen and ( max-width: 991px) {
  .rpForm-link, .rpForm-secret {
    padding-top: 5px;
  }
}
/*  over sm  */

@media screen and ( min-width: 768px) {
  .rpForm-body {
    padding-right: 2.5px;
  }
  .rpForm-submit {
    padding-left: 2.5px;
  }
  .rpForm-submit button {
    height: 74px;
  }
}
/*  Article
   */

.article-comment .rpForm-name, .article-comment .rpForm-body {
  padding-left: 0px;
}
.article-comment .rpForm-secret, .article-comment .rpForm-submit {
  padding-right: 0px;
}
.article-tag {
  padding: 20px 0;
  border-top: 1px solid #eee;
  margin-top: 40px;
}
.article-content div.footnotes {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}
/*  under md  */

@media screen and ( max-width: 991px) {
  .article-comment .rpForm-password {
    padding-right: 0px;
  }
  .article-comment .rpForm-link {
    padding-left: 0px;
  }
  .rpForm-loggedIn {
    margin-top: 4px;
  }
}
/*  under sm  */

@media screen and ( max-width: 767px) {
  .article-comment .rpForm-body {
    padding-right: 0px;
  }
  .article-comment .rpForm-submit {
    padding-left: 0px;
  }
}
/*
 *  Global
 *  --------------------------
 */
.margin-top {
  margin-top: 40px;
}
.box {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*
 *  Specials
 *  --------------------------
 */

#topbar{
	padding: 20px;
}
#menubar {
  width: 100%;
}
#menubar, #menubar .container{
  background-color: #E6E7E9;
}
#navigation .navigation-admin, #navigation .navigation-login {
  display: none;
}
#main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#searchbar {
  padding-top: 40px;
  padding-bottom: 20px;
}
#guestbook .rpForm-loggedIn {
  padding-left: 15px;
}
#footer .container {
  font-size: 1em;
	line-height:180%;
  background-color: #A8A9AD;
}
#footer .ft-top{
	padding:40px 0;
}
#footer .ft-top-lt{
	padding:20px;
}
#footer .ft-top-md{
  font-size: 0.8em;
	color:#595A5C;
}
#footer .ft-bottom{
  font-size: 1.3em;
  background-color: #414143;
  color: #E2E2E2;
  height: 50px;
  padding: 12px 0;
  font-weight: 200;
}
#footer .ft-bottom-rt{
	text-align:right;
}

#sideOff {
  display: none;
  position: fixed;
  top: 51px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/*****************/
/* 드랍다운 메뉴 */
/******************/
.navbar .link_tit {
	display: none;
}
.navbar .category_list .c_cnt {
	display: none;
}
/*.navbar .category_list > li {
	float: left;
}*/