/*** ESSENTIAL STYLES ***/
.category_list, .category_list * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.category_list li {
	position: relative;

}
.category_list ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.category_list > li {
	float: left;
}
.category_list li:hover > ul,
.category_list li.sfHover > ul {
	display: block;
}

.category_list a {
	display: block;
	position: relative;
}
.category_list ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.category_list {
	float: left;
}
.category_list ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.category_list a {
	border-left: 1px solid #fff;
	border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.category_list a {
	color: #13a;
}
.category_list li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.category_list ul li {
	background: #AABDE6;
}
.category_list ul ul li {
	background: #9AAEDB;
}
.category_list li:hover,
.category_list li.sfHover {
	background: #CFDEFF;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
